html, body {
  background: #eee;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

main {
  height: 100vh;
  margin: 0 auto;
  max-width: 53rem;
  padding: 0;
}

#editor {
  background: white;
  filter: drop-shadow(0 0 0.5rem #777);
  font-family: serif;
  font-size: 150%;
}

.CodeMirror {
  font-family: serif;
  height: 80vh;
  margin: 0;
}

.panel {
  background: #f7f7f7;
  font-family: sans-serif;
  font-size: 60%;
  padding-left: 1rem;
}

.downloads {
  margin: 2vh 0 0 0;
}

.downloads button,
.downloads select {
  margin: 1ex;
}

.annotations {
  height: 3rem;
  overflow-y: scroll;
}

.annotations ul {
  margin: 0;
  padding: 0;
}

.annotations ul li {
  list-style: none;
  margin: 0.5ex 0;
}

.error {
  color: darkred;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.links a[href] {
  margin: 0 1ex;
  font-size: 100%;
}

.links a[href]:first-child {
  margin-left: 0;
}

.links a[href]:last-child {
  margin-right: 0;
}
