html, body {
  background: #eee;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

main {
  height: 100vh;
  margin: 0 auto;
  max-width: 53rem;
  padding: 0;
}

#editor {
  background: white;
  filter: drop-shadow(0 0 0.5rem #777);
  font-family: serif;
  font-size: 150%;
}

.CodeMirror {
  height: 80vh;
  margin: 0;
}

#panel {
  background: #f7f7f7;
  margin: 2vh 0 0 0;
  padding: 3px;
}

#panel button,
#panel select {
  margin: 1ex;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.links a[href] {
  margin: 0 1ex;
  font-size: 100%;
}

.links a[href]:first-child {
  margin-left: 0;
}

.links a[href]:last-child {
  margin-right: 0;
}
